<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contacte</h2>
        <h3 class="section-subheading">Raons per comptar amb nosaltres&hellip;</h3>
      </div>
    </div>
    <div class="reasons row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
        </span>
        <p>No només fem codi. Som creatius i multidisciplinars, i això marca la diferència en tot allò que fem.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
        </span>
        <p>Ens agrada experimentar i estar a la última en tecnologies lliures per tal d’incorporar les innovacions als nostres projectes.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
        </span>
        <p>Posem les persones al centre, per això en la nostra feina és molt important la pedagogia, la inclusivitat, la perspectiva de génere i el bon tracte.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm" role="form" novalidate>
          <input type="hidden" name="_subject" value="Nou deal via web!">
          <input type="text" name="_gotcha" style="display:none">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="name">Nom i cognoms</label>
                <input type="text" class="form-control text-muted" id="name" name="name" placeholder="Nom i cognoms *" required aria-describedby="nameHelp">
                <p id="nameHelp" class="help-block sr-only">Introdueix el teu nom i cognoms.</p>
              </div>
              <div class="form-group">
                <label class="sr-only" for="email">Correu electrònic</label>
                <input type="email" class="form-control text-muted" id="email" name="email" placeholder="Correu electrònic *" required aria-describedby="emailHelp">
                <p id="emailHelp" class="help-block sr-only">Introdueix la teva adreça de correu.</p>
              </div>
              <div class="form-group">
                <label class="sr-only" for="phone">Telèfon</label>
                <input type="tel" class="form-control text-muted" id="phone" name="phone" placeholder="Telèfon" aria-describedby="telHelp">
                <p id="telHelp" class="help-block sr-only">Introdueix el teu telèfon</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="message">Missatge</label>
                <textarea class="form-control text-muted" id="message" name="message" placeholder="Missatge *" required aria-describedby="mesgHelp"></textarea>
                <p id="mesgHelp" class="help-block sr-only">Introdueix el teu missatge.</p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="sentMessage"></div>
              <button class="btn btn-xl" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
