<!-- Portfolio Modals -->
{% assign projects = site.projects | sort: 'modal-id' | reverse %}
{% for project in projects limit:12 %}
<div aria-hidden="true" class="portfolio-modal modal fade" id="projectModal{{ project.modal-id }}" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ project.title }}</h2>
            <hr class="star-primary">
            <img alt="{{ project.title }}" class="img-responsive img-centered" src="/assets/img/projects/full/{{ project.image }}">
            <div class="portfolio-description text-muted text-left">{{ project.content }}</div>
            <ul class="list-inline item-details">
              <li>Data:
                <strong>
                  <span>{{ project.project-date }}</span>
                </strong>
              </li>
              <li>Client:
                <strong>
                  <a href="{{ project.client-url }}" target="_blank">{{ project.client }}</a>
                </strong>
              </li>
              <li>Servei:
                <strong>
                  <span>{{ project.service }}</span>
                </strong>
              </li>
              {% if project.techs %}
              <li>Tecnologies:
                <strong>
                  <span>{{ project.techs }}</span>
                </strong>
              </li>
              {% endif %}
              {% if project.project-url %}
              <li>URL:
                <strong>
                  <a href="{{ project.project-url }}" target="_blank">{{ project.project-url }}</a>
                </strong>
              </li>
              {% endif %}
            </ul>
            <button class="btn btn-default" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Tancar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
