<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Serveis</h2>
                <h3 class="section-subheading-alt text-muted">Molt més que serveis TIC</h3>
                <p class="section-tldr large text-muted">
                  Oferim fer créixer el vostre projecte de la mà d’un equip creatiu, multidisciplinar i proper
                  que incorpora les últimes tecnologies, treballa col·laborativament i té en compte l’accessibilitat, la pedagogia i la perspectiva de gènere.<br>
                  Ens adaptem a les necessitats del vostre projecte amb la màxima professionalitat.
                </p>
            </div>
        </div>
        <div class="row text-left">
          {% for service in site.data.services %}
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-{{ service.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-center">{{ service.name }}</h4>
                <div class="service-detail text-muted text-left">
                  <p>{{ service.description }}</p>
                  <ul>
                    {% for item in service.items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
          {% endfor %}

        </div>
    </div>
</section>
