// Variables

// Gray and Brand Colors for use across theme

$primary-color: rgb(0, 128, 76);
$secondary-color: #b50033;
$secondary-dark: #910029;
$line-color: #e3e3e3;
$background-grey: #eeeeee;

$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Lora', serif;
