// Variables

// Gray and Brand Colors for use across theme

$theme-primary: rgb(0, 128, 76);
$theme-danger: #e74c3c;

$gray-base:	#000 !default;
$gray-darker:	lighten($gray-base, 13.5%) !default; // #222
$gray-dark:	lighten($gray-base, 20%) !default;   // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$primary-color: rgb(0, 128, 76);
$secondary-color: #b50033;
$secondary-dark: #910029;
$line-color: #e3e3e3;
$border-color: #e3e3e3;
$background-grey: #f7f7f7;

$text-color: #777;

$placeholder-color: #bbb;

$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Lora', serif;
$menu-font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;
