/* Site custom styles */

@import "variables.scss";

//Body
body {
  overflow-x: hidden;
  font-family: $primary-font-family;
  color: $secondary-color;
}

.text-primary {
  color: $primary-color;
}

p {
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

a {
  color: $primary-color;
}

a:hover,
a:focus,
a:active,
a.active {
  color: $secondary-dark;
}

section h2.section-heading {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

section h3.section-subheading,
section h3.section-subheading-alt,
section h3.subheading {
    text-transform: none;
    font-family: $secondary-font-family;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

section h3.section-subheading {
    margin-bottom: 75px;
}

section h3.subheading {
    margin-top: 45px;
    margin-bottom: 30px;
}

section h3.section-subheading-alt {
    margin-bottom: 30px;
}

section p.section-tldr {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

@media(min-width:768px) {
    section p.section-tldr {
      font-size: 18px;
      // padding: 0 50px;
    }
}

h4 {
    text-transform: uppercase;
    font-family: $primary-font-family;
    font-weight: 700;
}


//Header
.hero {
  background-image: url(/assets/img/hero-bg.jpg);
}

header .intro-text {
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: $secondary-font-family;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
}

header .intro-text .intro-heading .logo {
  height: 70px;
  width: auto;
}

@media(min-width:768px) {
    header {
      background-attachment: fixed;
    }

    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: $secondary-font-family;
        font-size: 40px;
        font-style: italic;
        line-height: 50px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
    }

    header .intro-text .intro-heading .logo {
      height: 120px;
    }
}

//Navigation
.navbar-default .navbar-brand {
    font-family: primary-font-family;
    color: $secondary-color;
}

.navbar-default .avatar {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px 0 5px 15px;
 }

.navbar-default {
  background-color: #333;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
  margin-top: 13px;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .avatar {
      height: 60px;
      width: 60px;
      margin: 0;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-default .nav li a {
  font-family: $menu-font-family;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .navbar-nav li a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}

.navbar-default .navbar-brand {
    font-family: $menu-font-family;
    color: $primary-color;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand.active {
    color: $secondary-color;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: $primary-color;
    background-color: $primary-color;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: $primary-color;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: $primary-color;
}

.navbar-default .navbar-nav>.active>a {
    background-color: $primary-color;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: $secondary-color;
}

//Benefits
.benefit-heading,
.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-family: $secondary-font-family;
    font-weight: 700;
    font-style: italic;
}

//Adab1ts timeline
.bg-light-gray {
  background-color: $background-grey;
}

.timeline:before {
    background-color: $line-color;
}

.timeline>li {
  border: 0px solid $background-grey;
}

.timeline>li .timeline-image {
    border: 7px solid $border-color;
}

.timeline .timeline-heading h4.subheading {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-style: italic;
}

//Services
.service-detail ul {
  list-style: circle inside;
  padding: 0 10px;
}
.service-detail ul>li {
  padding: 3px 0;
}

@media(min-width:768px) {
  .service-heading {
    padding: 0 30px;
  }
  .service-detail ul {
    padding: 0 40px;
  }
}

.service-detail ul {
  list-style: circle outside;
  padding: 0 10px;
}

.service-detail ul>li {
  padding: 3px 0;
}

//Portfolio
.portfolio-modal .modal-content p.item-intro {
  font-family: $primary-font-family;
}

@media(min-width:768px) {
  .portfolio-modal .modal-content .portfolio-description {
    padding: 0 55px;
  }
  .portfolio-modal .modal-content .portfolio-description p {
    font-size: 16px;
  }
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

#portfolio .portfolio-item {
  min-height: 330px;
}

#portfolio {
    padding-bottom: 0px;
}

//clients
#clients {
    padding-top: 0px;
}

#clients .client-item {
  margin: 0 auto 15px;
  padding: 15px 0;
  max-width: 400px;
  background-color: #fff;
}

//Team
.team-member img {
    border: 7px solid $line-color;
}

.team-member h4 {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-style: italic;
}

//Contact
section#contact {
    background-image: url(/assets/img/contact-bg.jpg);
    background-size: cover;
}

section#contact .section-subheading,
section#contact .reasons p {
  color: $line-color;
}

section#contact .reasons p {
  font-size: 16px;
}

section#contact form {
  margin-top: 75px;
}
@media(min-width:768px) {
  section#contact form {
    margin-top: 75px;
  }
}

section#contact .form-control:focus {
    border-color: $primary-color;
    border-width: 2px;
    box-shadow: none;
}

section#contact .form-control:-ms-input-placeholder {
  color: $placeholder-color;
}
section#contact .form-control::-ms-input-placeholder {
  color: $placeholder-color;
}
section#contact .form-control::-webkit-input-placeholder {
  color: $placeholder-color;
}
section#contact .form-control::placeholder {
  color: $placeholder-color;
}

//Buttons
.btn-primary {
  color: $line-color;
  background-color: $primary-color;
  border-color: $primary-color;
  font-family: $menu-font-family
}

.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.open > .btn-primary.dropdown-toggle
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus {
  color: $line-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}


.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary.focus {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary .badge {
  color: $primary-color;
  background-color: $line-color;
}


.btn-primary .badge {
    color: $primary-color;
}

.btn-xl {
    border-color: $primary-color;
    font-family: $menu-font-family;
    background-color: $primary-color;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: $secondary-color;
    background-color: $secondary-color;
}


.btn-xl {
  color: $line-color;
  background-color: $primary-color;
  border-color: $primary-color;
  font-family: $menu-font-family
}

.btn-xl:focus,
.btn-xl:hover,
.btn-xl:active,
.btn-xl:active:hover,
.btn-xl:active:focus,
.open > .btn-xl.dropdown-toggle,
.open > .btn-xl.dropdown-toggle:hover,
.open > .btn-xl.dropdown-toggle.focus {
  color: $line-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-xl.disabled:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:hover,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:hover,
fieldset[disabled] .btn-xl.focus {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-xl .badge {
  color: $primary-color;
  background-color: $line-color;
}

//Footer
footer span.copyright,
footer span.poweredby {
    text-transform: uppercase;
    text-transform: none;
    font-family: $menu-font-family;
    line-height: 40px;
}

footer .heartBeat {
  -webkit-animation-name: heartBeat;
          animation-name: heartBeat;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes heartBeat {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
    color: $secondary-color;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
}

@keyframes heartBeat {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
    color: $secondary-color;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
}
