/* Site custom styles */

@import "variables.scss";

//Body
body {
  overflow-x: hidden;
  font-family: $primary-font-family;
  color: $secondary-dark;
}

.text-primary {
  color: $primary-color;
}

section h2.section-heading {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

section h3.section-subheading,
section h3.section-subheading-alt,
section h3.subheading {
    text-transform: none;
    font-family: $secondary-font-family;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

section h3.section-subheading {
    margin-bottom: 75px;
}

section h3.section-subheading-alt {
    margin-bottom: 30px;
}

section p.section-tldr {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

@media(min-width:768px) {
    section p.section-tldr {
      font-size: 18px;
      padding: 0 50px;
    }
}

h4 {
    text-transform: uppercase;
    font-family: $primary-font-family;
    font-weight: 700;
}

a {
    color: $primary-color;
}

//Header
.hero {
  background-image: url("../assets/img/hero-bg.jpg");
}

header .intro-text {
    padding-top: 200px;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: $secondary-font-family;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
}

header .intro-text .intro-heading .logo {
  height: 70px;
  width: auto;
}

@media(min-width:768px) {
    header {
      background-attachment: fixed;
    }

    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: $secondary-font-family;
        font-size: 40px;
        font-style: italic;
        line-height: 50px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
    }

    header .intro-text .intro-heading .logo {
      height: 120px;
    }
}

//Navigation
.navbar-default .avatar {
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px 0 5px 15px;
 }

.navbar-default .avatar {
  height: 60px;
  width: 60px;
  margin: 0;
}

.navbar-default {
  background-color: #333;
}

.navbar-default .nav li a {
  font-family: $primary-font-family;
  font-weight: 700;
  letter-spacing: 2px;
}

//Benefits
.benefit-heading,
.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
}

//Adab1ts timeline
.timeline:before {
    background-color: $line-color;
}

.timeline>li {
  border: 7px solid $background-grey;
}

.timeline .timeline-heading h4.subheading {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-style: italic;
}

//Services
.service-detail ul {
  list-style: circle inside;
  padding: 0 10px;
}
.service-detail ul>li {
  padding: 3px 0;
}

@media(min-width:768px) {
  .service-heading {
    padding: 0 30px;
  }
  .service-detail ul {
    padding: 0 40px;
  }
}

.service-detail ul {
  list-style: circle outside;
  padding: 0 10px;
}

.service-detail ul>li {
  padding: 3px 0;
}

//Portfolio
.portfolio-modal .modal-content p.item-intro {
  font-family: $primary-font-family;
}

@media(min-width:768px) {
  .portfolio-modal .modal-content .portfolio-description {
    padding: 0 55px;
  }
  .portfolio-modal .modal-content .portfolio-description p {
    font-size: 16px;
  }
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

//Team
.team-member img {
    border: 7px solid $line-color;
}

.team-member h4 {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-style: italic;
}

//Contact
section#contact {
    background-image: url(/assets/img/contact-bg.jpg);
    background-size: cover;
}

section#contact .section-subheading,
section#contact .reasons p {
  color: $line-color;
}

section#contact .reasons p {
  font-size: 16px;
}

section#contact form {
  margin-top: 75px;
}
@media(min-width:768px) {
  section#contact form {
    margin-top: 75px;
  }
}

//Footer
footer span.copyright,
footer span.poweredby {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer .heartBeat {
  -webkit-animation-name: heartBeat;
          animation-name: heartBeat;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes heartBeat {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
    color: #b50033;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
}

@keyframes heartBeat {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
    color: #b50033;
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    color: #910029;
  }
}
